body {
  margin: 0;
  font-family: 'Play', sans-serif;
  background: rgb(33, 34, 33);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h4 {
  margin: 0;
}

h3 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style-type: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.play-regular {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.play-bold {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.header {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  background: rgba(0, 0, 0, 0.59);
}

.header__ul {
  display: flex;
  justify-content: center;
}

.header__li {
  color: rgb(195, 195, 195);
  font-family: Play;
  font-size: 23px;
  font-weight: 500;
  line-height: 37px;
  text-align: left;
}

.header__link {
  margin-right: 130px;
}

.header__li:hover {
  color: #ffffff;
}

.header__link:last-child {
  margin-right: 0;
}

.top {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url('images/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 768px;
}

.top__osnova {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top__text {
  margin-bottom: 10px;
  color: rgb(228, 228, 228);
  font-size: 21px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
}

.top__btn {
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
  font-family: Play;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0%;
  width: 451px;
  height: 90px;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  background: rgba(46, 46, 46, 0.8);
  cursor: pointer;
}

.top__btn:hover {
  box-shadow: 0px 4px 22px 0px rgba(255, 255, 255, 0.2);
}

.onas {
  padding-bottom: 140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.onas__title {
  color: rgb(226, 226, 226);
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
  margin-bottom: 30px;
}

.onas__title::after {
  display: flex;
  content: '';
  width: 145px;
  border: 4px solid rgb(226, 226, 226);
}

.onas__p {
  width: 700px;
  color: rgb(255, 255, 255);
  font-family: Play;
  font-size: 31px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.onas__left {
  width: 50%;
}

.onas__right {
  width: 50%;
}

.onas__img1 {
  position: absolute;
  margin-left: 7%;
  margin-top: 4%;
  z-index: 3;
  height: 350px;
}

.onas__img2 {
  position: absolute;
  margin-left: 26%;
  margin-top: 5%;
  z-index: 1;
  height: 350px;
}

.onas__img3 {
  position: absolute;
  margin-left: 14%;
  margin-top: 16%;
  z-index: 2;
  height: 350px;
}

.term {
  background: rgb(13, 13, 13);
  padding-bottom: 40px;
}

.term-mb {
  display: none;
}

.term__content {
  color: rgb(255, 255, 255);
  font-family: Play;
  width: 100%;
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  text-align: center;
}

.term__after {
  width: 10%;
}

.term__title {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
  text-align: left;
}

.term__block {
  display: flex;
  width: 25%;
  align-items: center;
}

.term__block:not(:last-child):after {
  content: '';
  height: 129px;
  width: 3px;
  background: rgb(173, 173, 173);
}

.term__50 {
  width: 50%
}

.term__blocks {
  display: flex;
}

.term__center {
  display: flex;
  flex-direction: column;
}

.slick-list,
.draggable {
  margin: auto !important;
  width: 90%;
}

.slider {
  overflow-y: hidden;
}

.photo-slider {
  padding-top: 40px;
  padding-bottom: 40px;
}

.photo-slider__imgs {
  display: flex;
}

.slick-dots {
  display: flex;
  justify-content: center;
}

.photo-slider__img {
  margin-right: 50px;
  margin-bottom: 30px;
}

.slick-dots button {
  font-size: 0;
  background-color: rgb(255, 255, 255, 0.0);
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255, 0.0);
  background: rgba(0, 0, 0, 0);
}

button:focus,
button:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.photo-slider-mb {
  display: none;
}

.next {
  cursor: pointer;
}

.prev {
  cursor: pointer;
}

.slick-active {
  background: rgb(212, 212, 212) !important;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.slick-dots .slick-active {
  color: rgb(214, 214, 214) !important;
  z-index: 4;
}

.slick-dots li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.slick-dots button {
  margin-right: 15px;
  margin-bottom: 30px;
  background-color: rgb(64, 64, 64, 0.5);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-decoration: none;
  z-index: 3;
  cursor: pointer;
}

.slick-dots:last-child {
  margin-right: 0;
}

.advantages {
  padding-top: 40px;
  display: flex;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: center;
  background: rgb(13, 13, 13);
}

.advantages__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__title {
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
}

.advantages__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.advantages__text {
  color: rgb(255, 255, 255);
  font-family: Play;
  font-size: 38px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: center;
  max-width: 451px;
}

.advantages__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 30px;
}

.advantages__img {
  height: 130px;
  margin-bottom: 15px;
}

.regform {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;
  background: #000000;
}

.regform__text {
  margin-right: 63px;
  color: rgb(255, 255, 255);
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
}

.regform__btn {
  padding-top: 23px;
  padding-bottom: 35px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  background: rgb(46, 46, 46);
  color: rgb(255, 255, 255);
  font-family: Play;
  font-size: 44px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
}

.regform__btn:hover {
  box-shadow: 0px 4px 42px 0px rgba(255, 255, 255, 0.323);
}

.review {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

}

.review__title {
  margin: auto;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
  letter-spacing: 0%;
  text-align: left;
}

.review-slider__imgs {
  display: flex;
  justify-content: center;
}

.review__img {
  margin-right: 40px;
  margin-bottom: 30px;
}

.review-sl {
  display: flex;
  width: 90%;
}

.footer {
  padding-top: 40px;
  display: flex;
  background: #000000;
  flex-direction: column;
  align-items: center;
}

.footer__addres {
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
  font-family: Play;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: left;
}

.footer__time {
  margin-bottom: 35px;
  color: rgb(255, 255, 255);
  font-family: Play;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: left;
}

.footer__social {
  display: flex;
}

.footer__a {
  margin-right: 40px;
  margin-bottom: 40px;
}

.footer__a:last-child {
  margin-right: 0;
}

.header__mb {
  display: none;
}

@media screen and (max-width: 1715px) {
  .regform {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
    background: #000000;
  }

  .regform__text {
    margin-right: 63px;
    color: rgb(255, 255, 255);
    font-family: Play;
    font-size: 58px;
    font-weight: 700;
    line-height: 74px;
  }

  .regform__btn {
    padding-top: 18px;
    padding-bottom: 28px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    background: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
    font-family: Play;
    font-size: 38px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
  }

  .regform__btn:hover {
    box-shadow: 0px 4px 42px 0px rgba(255, 255, 255, 0.323);
  }
}

@media screen and (max-width: 1632px) {
  .footer__addres {
    font-size: 42px;
  }

  .term__del {
    margin-bottom: 20px;
  }

  .term__block:not(:last-child):after {
    height: 190px;
  }
}

@media screen and (max-width: 1530px) {
  .regform__text {
    font-size: 45px;
  }

  .footer__addres {
    font-size: 38px;
  }

  .footer__time {
    font-size: 38px;
  }
}

@media screen and (max-width: 1425px) {
  .footer__addres {
    font-size: 38px;
  }

  .footer__time {
    font-size: 38px;
  }
}

@media screen and (max-width: 1400px) {
  .onas__p {
    width: 600px;
  }

  .footer__addres {
    font-size: 38px;
  }

  .footer__time {
    font-size: 38px;
  }
}

@media screen and (max-width: 1317px) {
  .header__link {
    margin-right: 110px;
  }
}

@media screen and (max-width: 1317px) {
  .footer__addres {
    font-size: 35px;
  }

  .footer__time {
    font-size: 35px;
  }

  .regform__text {
    font-size: 40px;
  }

  .term__50 {
    width: 60%;
  }

  .term__content {
    font-size: 33px;
  }
}

@media screen and (max-width: 1267px) {
  .term__content {
    color: rgb(255, 255, 255);
    font-family: Play;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
  }
}

@media screen and (max-width: 1205px) {
  .header__li {
    font-size: 21px;
  }

  .header__link {
    margin-right: 70px;
  }

  .onas__left {
    width: 48%;
  }

  .onas__p {
    width: 550px;
  }

  .onas__img1 {
    margin-left: 2%;
  }

  .onas__img2 {
    margin-left: 24%;
  }

  .onas__img3 {
    margin-left: 8%;
    margin-top: 19%;
  }

  .regform__text {
    font-size: 32px;
    margin-right: 30px;
  }

  .regform__btn {
    padding-top: 13px;
    padding-bottom: 15px;
    padding-right: 11px;
    padding-left: 11px;
    font-size: 35px;
  }

  .footer__addres {
    font-size: 31px;
  }

  .footer__time {
    font-size: 31px;
  }
}

@media screen and (max-width: 1077px) {
  .container {
    width: 98%;
  }

  .onas__left {
    width: 48%;
  }

  .onas {
    padding-bottom: 50px;
  }

  .onas__p {
    font-size: 26px;
    width: 500px;
  }

  .onas__img1 {
    margin-left: 0%;
  }

  .onas__img2 {
    margin-left: 24%;
  }

  .onas__img3 {
    margin-left: 8%;
    margin-top: 19%;
  }
}

@media screen and (max-width: 1051px) {
  .footer__addres {
    font-size: 32px;
    max-width: 820px;
    text-align: center;
  }

  .footer__time {
    font-size: 32px;
  }
}

@media screen and (max-width: 1030px) {
  .onas {
    padding-bottom: 50px;
  }

  .onas__p {
    font-size: 20px;
    width: 450px;
  }

  .onas__img1 {
    margin-left: 0%;
    height: 270px;
  }

  .onas__img2 {
    margin-left: 24%;
    height: 270px;
  }

  .onas__img3 {
    margin-left: 8%;
    margin-top: 19%;
    height: 270px;
  }
}

@media screen and (max-width: 986px) {
  .regform__text {
    font-size: 28px;
    margin-right: 20px;
  }

  .regform__btn {
    padding-top: 10px;
    padding-bottom: 12px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 32px;
  }

  .term__content {
    width: 98%;
    font-size: 25px;
  }

  .advantages__block {
    margin-right: 15px;
  }

  .advantages__text {
    font-size: 29px;
  }

  .header {
    height: 45px;
  }

  .header__link {
    margin-right: 50px;
  }

  .header__li {
    font-size: 19px;
  }
}

@media screen and (max-width: 953px) {
  .advantages {
    padding-top: 30px;
  }

  .advantages__title {
    font-size: 50px;
  }

  .advantages__img {
    height: 90px;
  }

  .advantages__text {
    max-width: 388px;
    font-size: 25px;
  }
}

@media screen and (max-width: 882px) {
  .onas__title {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .onas__title::after {
    width: 80px;
  }

  .onas__p {
    width: 400px;
    font-size: 18px;
    line-height: 30px;
  }

  .term__title {
    font-size: 50px;
    margin-bottom: 15px;
  }

  .term__content {
    font-size: 20px;
  }

  .term__block:not(:last-child):after {
    height: 110px;
  }

  .regform {
    padding-top: 20px;
    flex-direction: column;
  }

  .regform__text {
    font-size: 32px;
  }

  .footer {
    padding-top: 30px;
  }

  .footer__addres {
    margin-bottom: 20px;
  }

  .time {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 822px) {
  .header__link {
    margin-right: 30px;
  }

  .header__li {
    font-size: 18px;
  }

  .advantages__text {
    font-size: 23px;
    max-width: 350px;
    line-height: 30px;
  }

  .term__content {
    font-size: 19px;
  }

  .term__del {
    margin-bottom: 10px;
  }

  .term__50 {
    width: 58%;
  }

  .term__center {
    display: flex;
    width: 98%;
  }

  .review__img {
    margin-right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
    background: rgba(0, 0, 0, 0.59);
  }

  .header__ul {
    display: flex;
    justify-content: center;
  }

  .header__li {
    color: rgb(195, 195, 195);
    font-family: Play;
    font-size: 19px;
    font-weight: 700;
    line-height: 23px;
    text-align: left;
  }

  .header__link {
    margin-right: 15px;
  }

  .header__li:hover {
    color: #ffffff;
  }

  .header__link:last-child {
    margin-right: 0;
  }

  .top {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url('images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 508px;
  }

  .top__osnova {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top__text {
    margin-bottom: 10px;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
  }

  .top__btn {
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-family: Play;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0%;
    width: 351px;
    height: 75px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    background: rgba(46, 46, 46, 0.8);
    cursor: pointer;
  }

  .top__btn:hover {
    box-shadow: 0px 4px 22px 0px rgba(255, 255, 255, 0.2);
  }

  .onas {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .onas__title {
    color: rgb(226, 226, 226);
    font-family: Play;
    font-size: 47px;
    font-weight: 700;
    line-height: 74px;
    margin-bottom: 30px;
  }

  .onas__title::after {
    display: flex;
    content: '';
    width: 80px;
    border: 4px solid rgb(226, 226, 226);
  }

  .onas__p {
    width: 95%;
    color: rgb(255, 255, 255);
    font-family: Play;
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
  }

  .onas__left {
    width: 95%;
    display: flex;
    padding-top: 30px;
    padding-left: 2%;
    justify-content: space-between;
  }

  .onas__right {
    width: 95%;
    margin-left: 2%;
  }

  .onas__img1 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    z-index: 3;
    height: 280px;
  }

  .onas__img2 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    z-index: 1;
    height: 280px;
  }

  .onas__img3 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    z-index: 2;
    height: 280px;
  }

  .term {
    background: rgb(13, 13, 13);
    padding-bottom: 40px;
  }

  .term__content {
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-family: Play;
    width: 98%;
    font-family: Play;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
  }

  .term__after {
    width: 10%;
  }

  .term__title {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: Play;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
  }

  .term__block {
    display: flex;
    width: 23%;
    align-items: flex-start;
  }

  .term__block:not(:last-child):after {
    content: '';
    height: 129px;
    width: 3px;
    background: rgb(173, 173, 173);
  }

  .term__50 {
    width: 49%
  }


  .term__blocks {
    display: flex;
    align-items: flex-start;
  }

  .term__center {
    display: flex;
    flex-direction: column;
  }

  .slick-list,
  .draggable {
    margin: auto !important;
    width: 94%;
  }

  .slider {
    overflow-y: hidden;
  }

  .photo-slider {
    padding-top: 10px;
    padding-bottom: 40px;
  }

  .photo-slider__imgs {
    display: flex;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
  }

  .photo-slider__img {
    margin-right: 10px;
    margin-bottom: 30px;
  }

  .slick-dots button {
    font-size: 0;
    background-color: rgb(255, 255, 255, 0.0);
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255, 0.0);
    background: rgba(0, 0, 0, 0);
  }

  button:focus,
  button:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .next {
    cursor: pointer;
  }

  .prev {
    cursor: pointer;
  }

  .slick-active {
    background: rgb(212, 212, 212) !important;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
  }

  .slick-dots .slick-active {
    color: rgb(214, 214, 214) !important;
    z-index: 4;
  }

  .slick-dots li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
  }

  .slick-dots button {
    margin-right: 15px;
    margin-bottom: 30px;
    background-color: rgb(64, 64, 64, 0.5);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-decoration: none;
    z-index: 3;
    cursor: pointer;
  }

  .slick-dots:last-child {
    margin-right: 0;
  }

  .advantages {
    padding-top: 40px;
    display: flex;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
    background: rgb(13, 13, 13);
  }

  .advantages__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantages__title {
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    font-family: Play;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
  }

  .advantages__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .advantages__text {
    color: rgb(255, 255, 255);
    font-family: Play;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    max-width: 239px;
  }

  .advantages__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 30px;
  }

  .advantages__img {
    height: 80px;
    margin-bottom: 15px;
  }

  .regform {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
    background: #000000;
    flex-direction: column;
  }

  .regform__text {
    margin-bottom: 30px;
    margin-right: 0;
    color: rgb(255, 255, 255);
    font-family: Play;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
  }

  .regform__btn {
    padding-top: 18px;
    padding-bottom: 25px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    background: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
    font-family: Play;
    font-size: 33px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
  }

  .regform__btn:hover {
    box-shadow: 0px 4px 42px 0px rgba(255, 255, 255, 0.323);
  }

  .review {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

  }

  .review__title {
    margin: auto;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0%;
    text-align: left;
  }

  .review-slider__imgs {
    display: flex;
    justify-content: center;
  }

  .review__img {
    margin-right: 20px;
    margin-bottom: 25px;
  }

  .review-sl {
    display: flex;
    width: 90%;
  }

  .footer {
    padding-top: 40px;
    display: flex;
    background: #000000;
    flex-direction: column;
    align-items: center;
  }

  .footer__addres {
    margin-bottom: 30px;
    color: rgb(188, 188, 188);
    font-family: Play;
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
  }

  .footer__time {
    margin-bottom: 35px;
    color: rgb(188, 188, 188);
    font-family: Play;
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
  }

  .footer__social {
    display: flex;
  }

  .footer__a {
    margin-right: 40px;
    margin-bottom: 40px;
  }

  .footer__img-soc {
    width: 55px;
    height: 55px;
  }

  .footer__a:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 711px) {
  .header__li {
    font-size: 17px;
  }

  .header__ul {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 663px) {
  .regform {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .regform__text {
    text-align: center;
  }

  .regform__btn {
    padding-top: 3px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 25px;
  }
}

@media screen and (max-width: 642px) {
  .header__link {
    margin-right: 10px;
  }

  .header__li {
    font-size: 17px;
  }
}

@media screen and (max-width: 622px) {
  .header {
    height: 35px;
  }

  .header__link {
    margin-right: 10px;
  }

  .header__li {
    font-size: 15px;
  }

  .term__content {
    font-size: 16px;
  }

  .term__blocks {
    display: flex;
    justify-content: space-between;
  }

  .term__center {
    display: flex;
    width: 98%;
  }
}

@media screen and (max-width: 577px) {
  .onas__p {
    font-size: 22px;
  }

  .onas__img1 {
    height: 240px;
  }

  .onas__img2 {
    height: 240px;
  }

  .onas__img3 {
    height: 240px;
  }

  .review-sl {
    width: 88%;
  }

  .slick-list,
  .draggable {
    margin: auto !important;
    width: 92%;
  }

  .review__title {
    margin-bottom: 15px;
    font-size: 50px;
  }

  .regform {
    margin-bottom: 0;
  }

  .next {
    height: 50px;
  }

  .prev {
    height: 50px;
  }

  .review-slider__imgs {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photo-slider__imgs {
    display: flex;
    align-items: center;
  }

  .slick-dots li {
    background-color: rgb(64, 64, 64, 0.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 15px;
  }

  .slick-dots button {
    background-color: rgb(64, 64, 64, 0.0);
  }

  .photo-slider {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 553px) {
  .header__link {
    margin-right: 5px;
  }

  .header__li {
    font-size: 14px;
  }
}

@media screen and (max-width: 527px) {
  .advantages__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 10px;
  }

  .advantages__text {
    font-size: 20px;
  }

  .term__content {
    font-size: 14px;
  }
}

@media screen and (max-width: 508px) {
  .advantages {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .advantages__block {
    margin-right: 0;
  }

  .advantages__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cor {
    margin-left: 25px;
  }

  .advantages__text {
    font-size: 22px;
    max-width: 350px;
  }

  .regform__text {
    text-align: center;
    font-size: 32px;
  }
}

@media screen and (max-width: 499px) {
  .header__li {
    font-size: 13px;
  }

  .onas__img1 {
    height: 210px;
  }

  .onas__img2 {
    height: 210px;
  }

  .onas__img3 {
    height: 210px;
  }

  .footer__addres {
    font-size: 22px;
  }
}

@media screen and (max-width: 499px) {
  .header__li {
    font-size: 12px;
  }

  .onas__img1 {
    height: 200px;
  }

  .onas__img2 {
    height: 200px;
  }

  .onas__img3 {
    height: 200px;
  }

  .footer__addres {
    font-size: 22px;
  }

  .onas__title {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .onas__title::after {
    width: 70px;
  }

  .onas__p {
    font-size: 21px;
    line-height: 29px;
  }

  .term__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .term__blocks {
    display: flex;
    justify-content: space-evenly;
  }

  .term__content {
    font-size: 12px;
  }
}

@media screen and (max-width: 435px) {
  .header {
    display: none;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 55px;
    background: rgba(0, 0, 0, 0.59);
  }

  .header__mb {
    display: flex;
    height: 35px;
    position: absolute;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.59);
  }

  .header__burger {
    background-image: url('images/burger.svg');
    width: 32px;
    height: 20px;
    cursor: pointer;
  }

  .header__fl {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__menu {
    background: rgb(0, 0, 0);
    margin-top: 70%;
    margin-left: 45%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 216px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 10px;
    z-index: 20;
  }

  .header__cl {
    width: 197px;
    display: flex;
    justify-content: flex-end;
  }

  .dark {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 480%;
    background: #000;
    opacity: 0.3;
  }


  .header__mb-li {
    margin-bottom: 0 !important;
  }

  .header__close {
    background-image: url('images/close.svg');
    height: 35px;
    width: 35px;
    cursor: pointer;
  }

  .header__brand {
    margin-bottom: 5px;
    width: 100%;
    color: rgb(95, 95, 95);
    font-family: Play;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
  }

  .header__ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header__li {
    color: rgb(229, 229, 229);
    font-family: Play;
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    margin-bottom: 15px;
  }

  .header__link {
    margin-right: 15px;
  }

  .header__li:hover {
    color: #ffffff;
  }

  .header__link:last-child {
    margin-right: 0;
  }

  .top {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url('images/bg-mb.png');
    background-repeat: no-repeat;
    height: 300px;
  }

  .top__osnova {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top__text {
    margin-bottom: 8px;
    color: rgb(228, 228, 228);
    max-width: 157px;
    font-size: 16px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
  }

  .top__btn {
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-family: Play;
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    text-align: left;
    width: 201px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    background: rgba(46, 46, 46, 0.8);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .top__btn:hover {
    box-shadow: 0px 4px 22px 0px rgba(255, 255, 255, 0.2);
  }

  .onas {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .onas__title {
    color: rgb(226, 226, 226);
    font-family: Play;
    font-size: 37px;
    font-weight: 700;
    line-height: 74px;
    margin-bottom: 15px;
  }

  .onas__title::after {
    display: flex;
    content: '';
    width: 60px;
    border: 4px solid rgb(226, 226, 226);
  }

  .onas__p {
    width: 95%;
    color: rgb(255, 255, 255);
    font-family: Play;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
  }

  .onas__left {
    width: 95%;
    display: flex;
    padding-top: 30px;
    padding-left: 2%;
    justify-content: space-between;
  }

  .onas__right {
    width: 95%;
    margin-left: 2%;
  }

  .onas__img1 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    z-index: 3;
    height: 190px;
  }

  .onas__img2 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    z-index: 1;
    height: 190px;
  }

  .onas__img3 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    z-index: 2;
    height: 190px;
  }

  .term {
    display: none;
    background: rgb(13, 13, 13);
  }

  .term-mb {
    display: block;
    background: rgb(13, 13, 13);
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .term__content {
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    font-family: Play;
    width: 98%;
    max-width: 391px;
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
  }

  .term__after {
    width: 95%;
  }

  .term__title {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: Play;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    text-align: left;
  }

  .term__block {
    display: flex;
    width: 95%;
    align-items: center;
    flex-direction: column;
  }

  .term__block:not(:last-child):after {
    margin-bottom: 15px;
    content: '';
    height: 3px;
    width: 150px;
    background: rgb(173, 173, 173);
  }

  .term__50 {
    width: 80%
  }


  .term__blocks {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .term__center {
    display: flex;
    flex-direction: column;
  }

  .slick-list,
  .draggable {
    margin: auto !important;
    width: 85%;
  }

  .slider {
    overflow-y: hidden;
  }

  .photo-slider {
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .photo-slider-mb {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .slider2 {
    overflow-y: hidden;
  }

  .photo-slider__imgs {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
  }

  .photo-slider__img {
    margin-right: 10px;
    margin-bottom: 30px;
  }

  .slick-dots button {
    font-size: 0;
    background-color: rgb(255, 255, 255, 0.0);
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255, 0.0);
    background: rgba(0, 0, 0, 0);
  }

  button:focus,
  button:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .next {
    cursor: pointer;
    height: 40px;
  }

  .prev {
    cursor: pointer;
    height: 40px;
  }

  .slick-active {
    background: rgb(212, 212, 212) !important;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
  }

  .slick-dots .slick-active {
    color: rgb(214, 214, 214) !important;
    z-index: 4;
  }

  .slick-dots li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgb(64, 64, 64, 0.5);
  }

  .slick-dots button {
    margin-right: 15px;
    margin-bottom: 0px;
    background: rgb(33, 34, 33, 0, 0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-decoration: none;
    z-index: 3;
    cursor: pointer;
  }

  .slick-dots:last-child {
    margin-right: 0;
  }

  .advantages {
    padding-top: 20px;
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
    background: rgb(13, 13, 13);
  }

  .advantages__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantages__title {
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    font-family: Play;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    text-align: left;
  }

  .advantages__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cor {
    margin-left: 15px !important;
  }

  .advantages__text {
    color: rgb(255, 255, 255);
    font-family: Play;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    max-width: 264px;
  }

  .advantages__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 0px;
  }

  .advantages__img {
    height: 80px;
    margin-bottom: 15px;
  }

  .regform {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    background: #000000;
    flex-direction: column;
  }

  .regform__text {
    margin-bottom: 30px;
    margin-right: 0;
    color: rgb(255, 255, 255);
    font-family: Play;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
  }

  .regform__btn {
    padding-top: 8px;
    padding-bottom: 13px;
    padding-right: 14px;
    padding-left: 14px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    background: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
    font-family: Play;
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
  }

  .regform__btn:hover {
    box-shadow: 0px 4px 42px 0px rgba(255, 255, 255, 0.323);
  }

  .review {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding-top: 20px;

  }

  .review__title {
    margin: auto;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-family: Play;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0%;
  }

  .review-slider__imgs {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .review__img {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
  }

  .review-sl {
    display: flex;
    width: 85%;
  }

  .footer {
    padding-top: 40px;
    display: flex;
    background: #000000;
    flex-direction: column;
    align-items: center;
  }

  .footer__addres {
    margin-bottom: 10px;
    font-family: Play;
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
  }

  .footer__time {
    margin-bottom: 20px;
    font-family: Play;
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
  }

  .footer__social {
    display: flex;
  }

  .footer__a {
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .footer__img-soc {
    width: 40px;
    height: 40px;
  }

  .footer__a:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 415px) {
  .onas__img1 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    z-index: 3;
    height: 175px;
  }

  .onas__img2 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    z-index: 3;
    height: 175px;
  }

  .onas__img3 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    z-index: 3;
    height: 175px;
  }

  .footer__addres {
    font-size: 23px;
  }

  .term__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 402px) {
  .photo-slider__img {
    margin-right: 5px;
  }

  .slick-slider {
    overflow: hidden;
  }

  .regform__text {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .regform__btn {
    padding-top: 0px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 20px;
  }
}

@media screen and (max-width: 380px) {
  .onas__left {
    padding-top: 15px;
  }

  .onas__img1 {
    height: 165px;
  }

  .onas__img2 {
    height: 165px;
  }

  .onas__img3 {
    height: 165px;
  }

  .slick-dots li {
    margin-right: 5px;
  }

  .footer__addres {
    font-size: 20px;
  }

  .footer__time {
    font-size: 20px;
  }

  .term__title {
    font-size: 28px;
  }
}