@font-face {
  font-family: Geometria;
  /* Браузер сначала попробует найти шрифт локально */
  src: url("../fonts/Geometria_medium.otf") format("otf");
}

@font-face {
  font-family: Geometria-bold;
  /* Браузер сначала попробует найти шрифт локально */
  src: url("../fonts/Geometria_bold.otf") format("otf");
}

@font-face {
  font-family: Geometria-light;
  /* Браузер сначала попробует найти шрифт локально */
  src: url("../fonts/Geometria_light.otf") format("otf");
}