.red {
  color: #EB2227;
}

.black-title {
  color: #202020;
}

.grey {
  color: #696969;
}

.bold {
  font-family: Geometria-bold;
}

.light {
  font-family: Geometria-Light;
  font-weight: 100;
}

.grey-text {
  color: #484848;
}

.buttonRed {
  border-radius: 4px;
  background: rgb(235, 34, 39);
  border: none;
  color: #fff;
  font-size: 15px;
  line-height: 19px;
  cursor: pointer;
}

.btnHover {
  border-radius: 4px;
  background: #fff;
  border: 1px solid rgb(255, 0, 4);
  color: rgb(255, 0, 4);
  font-size: 15px;
  line-height: 19px;
  cursor: pointer;
}

.bthHoverCircle {
  border-radius: 35px;
  background: #fff;
  border: 1px solid rgb(255, 0, 4);
  color: rgb(255, 0, 4);
  font-size: 24px;
  cursor: pointer;
}