@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'adaptive';

body {
  font-family: Geometria;
}

.header {
  padding-top: 20px;
  margin-bottom: 40px;

  &__flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__left {
    padding-top: 5px;
  }

  &__right {
    display: flex;
  }

  &__left-logo {
    margin-bottom: 5px;
    height: 25px;
    @extend .bold;
    font-size: 25px;
  }

  &__left-text {
    @extend .light;
    font-size: 13px;
  }

  &__center {
    display: flex;
  }

  &__addres {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 16px;
  }

  &__time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  &__time-hour {
    font-size: 15px;
    @extend .bold;
  }

  &__time-day {
    font-size: 14px;
    @extend .light;
  }

  &__phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  &__phone-one {
    margin-right: 20px;
    font-size: 15px;
    @extend .bold;
  }

  &__phone-two {
    margin-right: 20px;
    font-size: 15px;
    @extend .bold;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    width: 199px;
    height: 40px;
    @extend .buttonRed;
  }

  &__btn:hover {
    @extend .btnHover;
  }

  &__block {
    display: flex;
    box-sizing: border-box;
    padding-top: 10px;
    border: 1px solid rgb(209, 209, 209);
    background: rgb(255, 255, 255);
    height: 45px;
  }

  &__block:hover {
    background: #eb2227;
    border: 1px solid #eb2227;
    color: #FFFFFF;
  }

  &__usl {
    background-image: url('../images/src/service.svg');
    background-repeat: no-repeat;
    background-position: 32px 11px;
    background-size: 24px 24px;
  }

  &__sp {
    background-image: url('../images/src/promo.svg');
    background-repeat: no-repeat;
    background-position: 35px 9px;
    background-size: 24px 24px;
  }

  &__sp:hover {
    background-image: url('../images/src/promo-white.svg');
    background-repeat: no-repeat;
    background-position: 35px 9px;
    background-size: 24px 24px;
  }

  &__usl:hover {
    background-image: url('../images/src/service-white.svg');
    background-repeat: no-repeat;
    background-position: 32px 11px;
    background-size: 24px 24px;
  }

  &__dvig {
    background-image: url('../images/src/engine.svg');
    background-repeat: no-repeat;
    background-position: 15px 11px;
    background-size: 24px 24px;
  }

  &__dvig:hover {
    background-image: url('../images/src/engine-white.svg');
    background-repeat: no-repeat;
    background-position: 15px 11px;
    background-size: 24px 24px;
  }

  &__con {
    background-image: url('../images/src/contact.svg');
    background-repeat: no-repeat;
    background-position: 30px 10px;
    background-size: 24px 24px;
  }

  &__con:hover {
    background-image: url('../images/src/contact-white.svg');
    background-repeat: no-repeat;
    background-position: 30px 10px;
    background-size: 24px 24px;
  }

  &__stat {
    background-image: url('../images/src/statia.svg');
    background-repeat: no-repeat;
    background-position: 30px 10px;
    background-size: 24px 24px;
  }

  &__stat:hover {
    background-image: url('../images/src/statia-white.svg');
    background-repeat: no-repeat;
    background-position: 30px 10px;
    background-size: 24px 24px;
  }

  &__onas {
    background-image: url('../images/src/about.svg');
    background-repeat: no-repeat;
    background-position: 28px 9px;
    background-size: 24px 24px;
  }

  &__onas:hover {
    background-image: url('../images/src/about-white.svg');
    background-repeat: no-repeat;
    background-position: 28px 9px;
    background-size: 24px 24px;
  }

  &__block>p {
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
  }

  &__svg {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }

}

.main-sec {
  height: 623px;
  background-image: url(../images/src/bg.png);
  background-repeat: no-repeat;
  background-position: center top;

  &__top {
    display: flex;
    padding-top: 30px;
  }

  &__left-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    text-align: right;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 165px;
    padding-top: 50px;
    margin-right: 200px;
  }

  &__left-btn {
    width: 250px;
    height: 52px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    @extend .buttonRed;
  }

  &__left-btn:hover {
    @extend .btnHover;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__year {
    color: rgb(225, 225, 225);
    font-size: 160px;
    font-weight: 700;
    line-height: 201px;
  }

  &__text {
    color: rgb(225, 225, 225);
    font-size: 30px;
    font-weight: 700;
    line-height: 82%;
    letter-spacing: 0%;
    text-align: left;
  }
}

.usl {
  padding-top: 1px;
  margin-right: 44px;
  margin-left: 64px;
}

.uslugi {
  margin-right: 1px;
  margin-left: 32.7px;
  margin-bottom: 11px;
  width: 26px;
  height: 24px;
}

.dvs {
  margin-left: 16px;
  margin-right: 5px;
  width: 24px;
  height: 24px;
}

.dvig {
  padding-top: 1px;
  margin-right: 39px;
  margin-left: 45px;
}

.spec {
  margin-left: 35px;
  margin-right: 5px;
  width: 24px;
  height: 24px;
}

.sp {
  margin-left: 64px;
  margin-right: 30px;
}

.contact {
  margin-left: 30px;
  margin-right: 5px;
  width: 24px;
  height: 24px;
}

.con {
  padding-top: 1px;
  margin-right: 40px;
  margin-left: 60px;
}

.stati {
  margin-left: 30px;
}

.stat {
  padding-top: 1px;
  margin-right: 30px;
  margin-left: 58px;
}

.onas {
  margin-left: 29px;
}

.on {
  margin-right: 28px;
  margin-left: 58px;
}

.stati {
  margin-right: 5px;
  width: 22px;
  height: 24px;
}

.onas {
  margin-right: 5px;
  width: 24px;
  height: 24px;
}

.on {
  padding-top: 1px;
}

.colortext {
  @extend .red;
}

.brand {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  &__title {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
  }

  &__block {
    display: flex;
  }

  &__blocks {
    margin-right: 55px;
  }

  &__link {
    display: flex;
  }

  &__img {
    margin-right: 20px;
    height: 80px;
  }

  &__name {
    display: flex;
    align-items: center;
    color: rgb(105, 105, 105);
    font-size: 36px;
    font-weight: 500;
    line-height: 45px;
  }
}

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1500px;


  &__title {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
  }

  &__bottom {
    display: flex;
    border-radius: 0px 0px 10px 10px;
    background: rgb(244, 244, 244);
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }

  &__text {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  &__btn {
    margin-bottom: 10px;
    width: 141px;
    height: 25px;
    border-radius: 3px;
    @extend .buttonRed;
  }

  &__btn:hover {
    @extend .btnHover;
  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1400px;
  }

  &__block {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  &__img {
    border-radius: 10px 10px 0px 0px;
    width: 300px;
    height: 240px;
  }
}

.seo {
  display: flex;
  justify-content: flex-start;
  padding-top: 60px;
  margin-bottom: 60px;
  width: 1680px;
  height: 510px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25), 0px 0px 55px 0px rgba(0, 0, 0, 0.25);
  background: rgb(254, 254, 254);
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 60px;
    font-size: 50px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: -1%;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    width: 1400px;
    background: linear-gradient(180.00deg, rgb(99, 99, 99), rgb(255, 255, 255));
    -webkit-background-clip:
      text;
    -webkit-text-fill-color:
      transparent;
    background-clip:
      text;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -1%;
  }

  &__bolee {
    width: 80.5%;
    display: flex;
    justify-content: flex-end;
  }

  &__bolee-text {
    color: rgb(0, 0, 0);
    font-family: Geometria;
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    cursor: pointer;
  }
}

.forma {
  display: flex;
  padding-top: 40px;
  padding-left: 40px;
  margin-bottom: 60px;
  width: 1400px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0px 0px 55px 0px rgba(147, 147, 147, 0.25), 0px 0px 0px 0px rgba(147, 147, 147, 0.2);
  background: rgb(255, 255, 255);

  &__text {
    margin-bottom: 20px;
    color: rgb(121, 121, 121);
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
  }

  &__title {
    margin-right: 90px;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__right {
    margin-right: 40px;
    padding-top: 20px;
    width: 330px;
  }

  &__name {
    padding-left: 33px;
    color: #9E9E9E;
    margin-bottom: 20px;
    width: 330px;
    height: 65px;
    box-sizing: border-box;
    border: 2px solid rgb(235, 34, 39);
    border-radius: 35px;
    background: rgb(255, 255, 255);
    @extend .buttonRed;
  }

  &__name::placeholder {
    color: #9E9E9E;
    font-size: 24px;
  }

  &__number {
    padding-left: 33px;
    color: #9E9E9E;
    font-size: 24px;
    margin-bottom: 20px;
    width: 330px;
    height: 65px;
    font-size: 24px;
    line-height: 30px;
    box-sizing: border-box;
    border: 2px solid rgb(235, 34, 39);
    border-radius: 35px;
    background: rgb(255, 255, 255);
    @extend .buttonRed;
  }

  &__number::placeholder {
    color: #9E9E9E;
    font-size: 24px;
  }

  &__send {
    margin-bottom: 20px;
    text-align: center;
    padding-left: 0;
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 30px;
    width: 330px;
    height: 65px;
    box-sizing: border-box;
    border: 2px solid rgb(235, 34, 39);
    border-radius: 35px;
    background: rgb(235, 34, 39);
    @extend .buttonRed;
  }

  &__send:hover {
    @extend .bthHoverCircle;
  }

  &__data {
    color: rgb(120, 120, 120);
    font-family: Geometria;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
  }
}

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  &__blocks {
    display: flex;
  }

  &__title {
    margin-bottom: 55px;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
  }

  &__img {
    margin-bottom: 30px;
  }

  &__top {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
  }

  &__bottom {
    color: rgb(67, 67, 67);
    font-family: Geometria;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
  }

  &__block {
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__block:last-child {
    margin-right: 0;
  }
}

.service {
  padding-top: 80px;
  display: flex;
  background-color: #F4F4F4;
  align-items: center;
  flex-direction: column;
  height: 850px;
  margin-bottom: 50px;

  &__bl {
    margin-left: 60px;
  }

  &__block {
    display: flex;
  }

  &__title {
    height: 52px;
    margin-bottom: 35px;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
  }

  &__img {
    margin-right: 22px;
    height: 40px;
    width: 40px;
  }

  &__name {
    height: 36px;
    margin-right: 246px;
    margin-bottom: 20px;
    color: rgb(105, 105, 105);
    font-family: Geometria;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
  }

  &__price {
    color: rgb(105, 105, 105);
    font-family: Geometria;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
  }

  &__text {
    color: rgb(105, 105, 105);
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
  }

  &__left {
    margin-right: 138px;
  }

  &__left-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 25px;
    margin-bottom: 30px;
    border-radius: 13px;
    background: rgb(255, 255, 255);
    width: 460px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: 21px 20px;
    background-size: 40px 40px;
  }

  &__left-block:hover p {
    color: #fff;
  }

  &__left-title {
    margin-bottom: 25px;
    color: rgb(105, 105, 105);
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
  }

  &__tr {
    background-image: url('../images/src/transmission.svg');
  }

  &__obs {
    background-image: url('../images/src/obs.svg');
  }

  &__dv {
    background-image: url('../images/src/engine.svg');
  }

  &__dv:hover {
    background: #eb2227;
  }

  &__tr:hover {
    background: #eb2227;
  }

  &__obs:hover {
    background: #eb2227;
  }

  &__right-bottom {
    width: 770px;
    height: 561px;
    border-radius: 13px;
    background: rgb(255, 255, 255);
  }

  &__right-top {
    display: flex;
  }

  &__usluga {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 13px;
    background: rgb(255, 255, 255);
    padding: 25px 35px 0px;
  }

  &__usluga-title {
    height: 30px;
    color: rgb(105, 105, 105);
    font-family: Geometria;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
  }

  &__usluga-price {
    color: rgb(105, 105, 105);
    font-family: Geometria;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
  }

  &__usluga-line {
    height: 1px;
    width: 700px;
    background-color: rgb(217, 217, 217);
  }

  &__usluga-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }
}

.question {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 60px;
  width: 1240px;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0px rgba(147, 147, 147, 0.25), 0px 0px 55px 0px rgba(147, 147, 147, 0.25);
  background: rgb(255, 255, 255);

  &__title {
    margin-bottom: 20px;
    color: rgb(32, 32, 32);
    font-family: Geometria;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
  }

  &__text {
    color: rgb(105, 105, 105);
    width: 530px;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
  }

  &__left {
    margin-right: 220px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__number {
    padding-left: 33px;
    color: #9E9E9E;
    margin-bottom: 30px;
    width: 330px;
    height: 65px;
    box-sizing: border-box;
    border: 2px solid rgb(235, 34, 39);
    border-radius: 35px;
    background: rgb(255, 255, 255);
    @extend .buttonRed;
    padding-top: 5px;
  }

  &__number::placeholder {
    color: #9E9E9E;
    font-size: 24px;
  }

  &__send {
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 20px;
    width: 330px;
    height: 65px;
    box-sizing: border-box;
    border: 2px solid rgb(235, 34, 39);
    border-radius: 35px;
    background: rgb(235, 34, 39);
    @extend .buttonRed;
  }

  &__send:hover {
    @extend .bthHoverCircle;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  &__left {
    margin-right: 60px;
  }

  &__title {
    margin-bottom: 70px;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
  }

  &__block-text {
    color: rgb(105, 105, 105);
    font-family: Geometria;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
  }

  &__li {
    color: rgb(105, 105, 105);
    font-family: Geometria;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
  }

  &__adress-top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__addres {
    margin-bottom: 30px;
  }

  &__phone {
    margin-bottom: 30px;
  }

  &__email {
    margin-bottom: 30px;
  }

  &__work {
    margin-bottom: 30px;
  }

  &__phone-top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__email-top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__work-top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__block-bottom {
    display: flex;
  }

  &__img {
    margin-right: 20px;
    width: 50px;
    height: 50px;
  }

  &__block-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
  }

  &__li {
    list-style: inside;
  }

  &__map {
    max-width: 650px;
    height: 521px;
  }

  &__addres-t {
    height: 44px;
  }

  &__phone-t {
    height: 44px;
  }

  &__email-t {
    height: 37px;
  }

  &__work-t {
    height: 45px;
  }
}

.footer {
  padding-top: 40px;
  height: 330px;
  background: rgb(244, 244, 244);

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__one {
    margin-right: 85px;
  }

  &__two {
    padding-top: 45px;
    margin-right: 85px;
  }

  &__three {
    padding-top: 45px;
    margin-right: 85px;
  }

  &__four {
    padding-top: 45px;
    margin-right: 80px;
  }

  &__five {
    padding-top: 45px;
  }

  &__brand {
    display: flex;
    margin-bottom: 15px;
  }

  &__brand:last-child {
    margin-bottom: 0;
  }

  &__logo {
    height: 25px;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
  }

  &__servis {
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-size: 9px;
    font-weight: 300;
    line-height: 11px;
  }

  &__phone {
    margin-bottom: 15px;
  }

  &__email {
    margin-bottom: 20px;
  }

  &__addres {
    margin-bottom: 25px;
  }

  &__text-brand {
    color: rgb(72, 72, 72);
    font-size: 20px;
    line-height: 25px;
  }

  &__a-three {
    color: rgb(72, 72, 72);
    font-size: 20px;
    line-height: 25px;
  }

  &__a-four {
    color: rgb(72, 72, 72);
    font-size: 20px;
    line-height: 25px;
  }

  &__a-five {
    color: rgb(72, 72, 72);
    font-size: 20px;
    line-height: 25px;
  }

  &__toyota {
    height: 20px;
    margin-right: 7px;
  }

  &__lexus {
    height: 22px;
    margin-right: 11px;
  }

  &__nissan {
    height: 24px;
    margin-right: 15px;
  }

  &__hyundai {
    height: 21px;
    margin-right: 3px;
  }

  &__kia {
    height: 21px;
    margin-right: 2px;
  }

  &__li-three {
    margin-bottom: 20px;
  }

  &__li-three:last-child {
    margin-bottom: 0;
  }

  &__li-four {
    margin-bottom: 20px;
  }

  &__li-four:last-child {
    margin-bottom: 0;
  }

  &__li-five {
    margin-bottom: 20px;
  }

  &__li-five:last-child {
    margin-bottom: 0;
  }
}