body {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.header__bottom {
  scroll-behavior: smooth;
}

.slide {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.photos__all {
  display: none;
}

.photos__all-d {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  display: block;
  width: 1680px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
}

.dark {
  display: none;
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  width: 100%;
  height: 588%;
  z-index: 3;
}

.main__btn:hover {
  background: #3d6573;
}

.contact__send:hover {
  background: #3d6573;
  cursor: pointer;
}

.photos__btn:hover {
  background: #3d6573;
  border: 3px solid #3d6573;
  color: #ffffff;
}

.header__phone-t:hover {
  color: #8bb8c8;
}

a:hover {
  color: #8bb8c8;
}

.header {
  padding-top: 25px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__closse {
    display: none;
  }

  &__burg-c {
    display: none;
  }

  &__logo {
    display: flex;
    width: 110px;
    height: 110px;
  }

  &__text {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
  }

  &__logo-img {
    margin-right: 20px;
  }

  &__line {
    margin-right: 10px;
  }

  &__h2 {
    font-family: Montserrat;
    font-size: 33px;
    font-weight: 700;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 10px;
  }

  &__link {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 300;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__top-l {
    display: flex;
    align-items: center;
  }

  &__phone {
    margin-right: 10px;
    height: 37px;
  }

  &__phone-t {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 400;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__phone-a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__top-r {
    display: flex;
    align-items: center;
  }

  &__tg {
    height: 22px;
    margin-right: 10px;
  }

  &__em {
    height: 22px;
  }

  &__middle {
    margin-bottom: 10px;
  }

  &__middle::after {
    content: "";
    display: block;
    width: 100%;
    height: 0px;
    border: 2px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    transform: rotate(180.00deg);
  }

  &__link {
    margin-right: 47px;
  }

  &__link:last-child {
    margin-right: 0;
  }
}

.main {
  background-image: url(../images/dist/main-bg.webp);
  background-size: cover;
  height: 897px;
  display: flex;
  align-items: center;

  &__h1 {
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 60px;
    font-weight: 700;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__text {
    margin-bottom: 150px;
    max-width: 740px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 500;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgb(37, 66, 76);
    width: 400px;
    height: 100px;
    border: none;
    cursor: pointer;
  }

  &__btn-t {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }
}

.second {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 50px;
  background: rgb(255, 240, 194);

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    max-width: 600px;
    max-height: 679px;
  }

  &__title {
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__text-t {
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__text-b {
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__promo {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__left {
    margin-right: 113px;
    max-width: 973px;
  }
}

.colortext {
  color: #B50000;
}

.services {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__tit {
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    width: 1500px;
  }

  &__slides {
    display: flex;
  }

  &__slide {
    max-width: 450px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
    background: rgb(244, 244, 244);
    height: 582px !important;
  }

  &__slide:last-child {
    margin-right: 0;
  }

  &__img {
    max-width: 450px;
    max-height: 275px;
    border-radius: 10px 10px 0px 0px;
  }

  &__left {
    margin-right: 40px;
    height: 45px;
  }

  &__right {
    height: 45px;
    margin-left: 40px;
  }

  &__img {
    margin-bottom: 15px;
  }

  &__title {
    margin-bottom: 15px;
    padding-left: 15px;
    max-width: 394px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__text {
    padding-left: 15px;
    margin-bottom: 20px;
    max-width: 394px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
  }
}

.services__slides {
  width: 100%;
  display: flex;
}

.slick-dots li button:before {
  color: #707070;
  opacity: .6 !important;
  font-size: 15px;
}

.slick-dots {
  text-align: center;
  display: flex;
  justify-content: center;
  list-style: none;
}

.slick-dots button {
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 5px;
  outline: none;
  color: #ffffff00;
}

.slick-dots li[class="slick-active"] button {
  background: rgb(112, 112, 112);
}

.feedback {
  padding-top: 40px;
  padding-bottom: 50px;
  background: rgb(255, 240, 194);

  &__title {
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__slider {
    display: flex;
  }

  &__slide {
    margin-right: 80px;
    margin-bottom: 30px;
    background: rgb(255, 255, 255);
    padding-top: 25px;
    padding-left: 20px;
    max-height: 420px;
  }

  &__slide:last-child {
    margin-right: 0;
  }

  &__slide-t {
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 700;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__p {
    margin-bottom: 50px;
    max-width: 750px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }
}

.photos {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  align-items: center;

  &__bl {
    width: 100%;
  }

  &__title {
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__slider {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    width: 1500px;
  }

  &__left {
    margin-right: 15px;
  }

  &__right {
    margin-left: 15px;
  }

  &__img {
    margin-right: 10px;
    height: 435px;
    max-width: 570px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 400px;
    height: 100px;
    box-sizing: border-box;
    border: 3px solid rgb(37, 66, 76);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    color: rgb(37, 66, 76);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__btn-t {
    color: rgb(37, 66, 76);
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 500;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__slides {
    display: flex;
    width: 1500px;
  }

}

.square-animation {
  opacity: 0;
  animation: ani 2.5s forwards;
}

@keyframes ani {
  0% {
    transform: translateY(100%);
    /* Блок находится за пределами экрана снизу */
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    /* Блок поднимается на своё место */
    opacity: 1;
    /* Полностью видимый блок */
  }
}

@keyframes wipe-enter {
  0% {
    transform: scale(0, .025)
  }

  50% {
    transform: scale(1, .025)
  }
}

.contact {
  display: flex;
  padding-bottom: 50px;
  justify-content: space-between;

  &__title {
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__p {
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 400;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__left {
    max-width: 739px;
  }

  &__phone {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }

  &__email {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }

  &__location {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  &__phone-img {
    margin-right: 10px;
    max-width: 44px;
  }

  &__email-img {
    margin-right: 10px;
    max-width: 45px;
  }

  &__location-img {
    margin-right: 10px;
    max-width: 44px;
  }

  &__phone-p {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__email-p {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__location-p {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__tg {
    margin-right: 30px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__bottom {
    display: flex;
    align-items: center;
  }

  &__name-f {
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid rgb(182, 182, 182);
    background-color: transparent;
    color: inherit;
    outline: none;
    height: 45px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 400;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__name-f::placeholder {
    color: rgb(182, 182, 182);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__phone-f {
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid rgb(182, 182, 182);
    background-color: transparent;
    outline: none;
    height: 45px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 400;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__phone-f::placeholder {
    color: rgb(182, 182, 182);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }


  &__email-f {
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid rgb(182, 182, 182);
    background-color: transparent;
    color: inherit;
    outline: none;
    height: 45px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 400;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__message-f {
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid rgb(182, 182, 182);
    background-color: transparent;
    color: inherit;
    outline: none;
    height: 45px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 400;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__email-f::placeholder {
    color: rgb(182, 182, 182);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__message-f::placeholder {
    color: rgb(182, 182, 182);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__send {
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    background: rgb(37, 66, 76);
  }

  &__send-t {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 300;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__policy {
    text-decoration: none;
  }

  &__policy-a {
    max-width: 481px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 275;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }
}

.footer {
  padding-top: 20px;
  padding-bottom: 45px;

  &__soc {
    display: flex;
  }

  &__bg {
    background: rgb(244, 244, 244);
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__img {
    margin-right: 20px;
    width: 110px;
    height: 110px;
  }

  &__line {
    margin-right: 10px;
    height: 64px;
  }

  &__h2 {
    max-width: 226px;
    color: rgb(37, 66, 76);
    font-family: Montserrat;
    font-size: 33px;
    font-weight: 700;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__text {
    max-width: 839px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__middle {
    display: flex;
    justify-content: space-between;
  }

  &__ul {
    display: flex;
  }

  &__li {
    list-style-type: none;
    margin-right: 20px;
  }

  &__li:last-child {
    margin-right: 0;
  }

  &__link {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
  }

  &__text {
    margin-bottom: 45px;
  }

  &__phone {
    display: flex;
  }

  &__bottom {
    display: flex;
    align-items: end;
  }



  &__phone {
    margin-right: 50px;
  }

  &__phone-img,
  &__tg-img,
  &__email-img {
    max-height: 30px;
  }

  &__tg {
    display: flex;
    margin-right: 50px;
  }

  &__email {
    display: flex;
    margin-right: 50px;
  }

  &__tg-r {
    margin-right: 30px;
  }

  &__phone-img {
    margin-right: 15px;
  }

  &__email-img {
    margin-right: 15px;
  }

  &__tg-img {
    margin-right: 15px;
  }

  &__tg-im {
    height: 45px;
  }

  &__in-im {
    height: 45px;
  }

  &__phone-p,
  &__email-p,
  &__tg-p {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    line-height: 96.05%;
    letter-spacing: 0%;
    text-align: left;
  }
}

@media screen and (max-width: 1695px) {
  .container {
    width: 1440px;
  }

  .main {
    height: 793px;

    &__h1 {
      font-size: 55px;
    }

    &__text {
      font-size: 33px;
      margin-bottom: 100px;
    }

    &__btn {
      width: 330px;
      height: 80px;
    }
  }

  .second {
    .container {
      display: flex;
      justify-content: space-between;
    }

    &__left {
      margin-right: 40px;
      max-width: 800px;
    }

    &__title {
      font-size: 40px;
    }

    &__text-t {
      font-size: 35px;
    }

    &__text-b {
      font-size: 35px;
    }

    &__promo {
      font-size: 35px;
    }

    &__img {
      max-width: 500px;
    }
  }

  .feedback {
    &__p {
      font-size: 25px;
    }
  }

  .photos {
    &__img {
      height: 365px;
    }

    &__btn {
      width: 340px;
      height: 80px;
      font-size: 35px;
    }
  }

  .contact__left {
    max-width: 640px;
  }

  .footer__text {
    max-width: 736px;
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
  }
}

@media screen and (max-width: 1680px) {
  .services__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    width: 1300px;
  }

  .photos__slides {
    display: flex;
    width: 1300px;
  }

  .services__slide {
    max-width: 450px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    background: #f4f4f4;
    height: 550px !important;
  }

  .feedback__slider {
    width: 1300px;
  }

  .feedback__p {
    max-width: 530px;
  }

  .services__img {
    max-width: 404px;
    max-height: 275px;
    border-radius: 10px 10px 0px 0px;
  }
}


@media screen and (max-width: 1460px) {
  .services__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    width: 1050px;
  }

  .services__slide {
    max-width: 450px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .services__img {
    max-width: 329px;
  }

  .services__title {
    font-size: 23px;
  }

  .services__text {
    font-size: 19px;
    max-width: 322px;
  }

  .services__slide {
    height: 530px !important;
  }

  .photos__slides {
    display: flex;
    width: 1050px;
  }

  .services__left {
    margin-right: 15px;
  }

  .services__right {
    margin-left: 15px;
  }

  .feedback__slider {
    width: 1050px;
  }

  .feedback__slide-t {
    font-size: 30px;
  }

  .feedback__slide {
    margin-left: 20px;
    margin-right: 20px;
    height: 400px !important;
  }

  .container {
    max-width: 1300px;
  }

  .feedback__p {
    font-size: 23px;
  }

  .photos__btn {
    width: 300px;
    height: 70px;
  }

  .photos__btn-t {
    font-size: 35px;
  }

  .second {
    &__title {
      font-size: 35px;
    }

    &__text-t {
      font-size: 30px;
    }

    &__text-b {
      font-size: 30px;
    }

    &__promo {
      font-size: 30px;
    }

    &__left {
      margin-right: 40px;
      max-width: 660px;
    }
  }

  .photos {
    &__img {
      height: 320px;
    }

    &__left {
      height: 40px;
    }

    &__right {
      height: 40px;
    }

    &__slider {
      display: flex;
      margin-bottom: 20px;
      align-items: center;
    }

    &__title {
      font-size: 40px;
    }
  }

  .feedback {
    &__title {
      font-size: 40px;
    }
  }

  .services {
    &__tit {
      font-size: 40px;
    }
  }

  .contact {
    &__title {
      font-size: 40px;
    }

    &__p {
      font-size: 30px;
    }

    &__phone-p {
      font-size: 27px;
    }

    &__email-p {
      font-size: 27px;
    }

    &__location-p {
      font-size: 27px;
    }

    &__left {
      max-width: 540px;
    }
  }

  .footer {
    &__text {
      max-width: 736px;
    }

    &__phone-p,
    &_email-p,
    &_tg-p {
      font-size: 25px;
    }

    &__phone-p,
    &__email-p,
    &__tg-p {
      font-size: 25px;
    }

    &__link {
      font-size: 23px;
    }
  }
}

@media screen and (max-width: 1385px) {
  .container {
    width: 1230px;
  }

  .services {
    &__img {
      max-height: 220px;
    }

    &__title {
      font-size: 22px;
    }

    &__text {
      font-size: 18px;
    }
  }

  .feedback {
    &__slide-t {
      font-size: 27px;
    }

    &__p {
      font-size: 22px;
    }
  }

  .photos {
    &__btn {
      width: 270px;
      height: 65px;
      font-size: 27px;
    }

    &__btn-t {
      font-size: 29px;
    }
  }

  .contact {
    &__right {
      max-width: 600px;
    }

    &__policy-a {
      font-size: 18px;
    }
  }

  .footer {
    &__text {
      max-width: 660px;
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 1285px) {
  .container {
    width: 1100px;
  }

  .header {
    &__logo-img {
      margin-right: 10px;
      height: 80px;
      width: 80px;
    }

    &__line {
      height: 50px;
    }

    &__text {
      height: 80px;
    }

    &__h2 {
      font-size: 25px;
    }

    &__phone-t {
      font-size: 21px;
    }

    &__phone {
      height: 30px;
      margin-right: 6px;
    }

    &__top {
      height: 35px;
      margin-bottom: 5px;
    }

    &__link {
      margin-right: 30px;
      font-size: 23px;
    }
  }

  .main {
    height: 600px;

    &__h1 {
      font-size: 44px;
    }

    &__text {
      font-size: 25px;
      margin-bottom: 70px;
      max-width: 600px;
    }

    &__btn {
      width: 270px;
      height: 70px;
    }

    &__btn-t {
      font-size: 30px;
    }
  }

  .second {
    padding-top: 20px;

    &__title {
      font-size: 35px;
    }

    &__text-t {
      font-size: 26px;
    }

    &__text-b {
      font-size: 23px;
    }

    &__img {
      max-width: 450px;
    }
  }

  .services {
    padding-top: 20px;

    &__img {
      max-height: 190px;
    }

    &__text {
      font-size: 17px;
    }
  }

  .feedback {
    padding-top: 20px;

    &__title {
      font-size: 30px;
    }

    &__slide-t {
      font-size: 25px;
    }

    &__p {
      font-size: 20px;
    }
  }

  .photos {
    padding-top: 20px;

    &__title {
      font-size: 30px;
    }

    &__img {
      height: 265px;
    }

    &__btn {
      width: 240px;
      height: 60px;
      font-size: 27px;
    }

    &__btn-t {
      font-size: 24px;
    }
  }

  .contact {
    padding-top: 20px;

    &__title {
      font-size: 30px;
    }

    &__p {
      font-size: 25px;
    }

    &__left {
      max-width: 500px;
    }

    &__phone-p {
      font-size: 24px;
    }

    &__email-p {
      font-size: 24px;
    }

    &__location-p {
      font-size: 24px;
    }

    &__phone-img {
      margin-right: 10px;
      max-width: 35px;
    }

    &__email-img {
      margin-right: 10px;
      max-width: 35px;
    }

    &__location-img {
      margin-right: 10px;
      max-width: 35px;
    }

    &__phone {
      margin-bottom: 15px;
    }

    &__email {
      margin-bottom: 15px;
    }

    &__location {
      margin-bottom: 15px;
    }

    &__tg-im {
      height: 50px;
      width: 50px;
    }

    &__in-im {
      height: 50px;
      width: 50px;
    }

    &__right {
      max-width: 500px;
    }

    &__name-f {
      margin-bottom: 20px;
    }

    &__phone-f {
      margin-bottom: 20px;
    }

    &__email-f {
      margin-bottom: 20px;
    }

    &__message-f {
      margin-bottom: 20px;
    }

    &__send {
      width: 180px;
      height: 45px;
    }

    &__send-t {
      font-size: 25px;
    }

    &__policy-a {
      font-size: 16px;
    }
  }

  .footer {
    &__img {
      margin-right: 10px;
      width: 80px;
      height: 80px;
    }

    &__line {
      margin-right: 10px;
      height: 45px;
    }

    &__h2 {
      max-width: 185px;
      font-size: 24px;
    }

    &__text {
      max-width: 545px;
      font-size: 20px;
    }
  }

  .footer__phone-p,
  .footer__email-p,
  .footer__tg-p {
    font-size: 20px;
  }

  .footer__phone-p,
  .footer__email-p,
  .footer__tg-p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1140px) {
  .container {
    width: 970px;
  }

  .photos__slides {
    display: flex;
    width: 950px;
  }

  .feedback {
    padding-bottom: 10px;

    &__slide {
      margin-bottom: 0px;
      padding-top: 15px;
      padding-left: 10px;
      margin-left: 10px;
      margin-right: 10px;
      height: 300px !important;
    }

    &__slider {
      width: 950px;
    }

    &__slide-t {
      margin-bottom: 15px;
      font-size: 21px;
    }

    &__p {
      font-size: 19px;
      max-width: 420px;
    }
  }

  .services {
    &__slider {
      width: 950px;
    }

    &__img {
      max-width: 297px;
    }

    &__title {
      font-size: 22px;
    }

    &__text {
      max-width: 287px;
    }

    &__slide {
      height: 490px !important;
    }
  }

  .contact {
    &__title {
      margin-bottom: 15px;
      font-size: 25px;
    }

    &__p {
      margin-bottom: 10px;
      font-size: 20px;
    }

    &__phone-p {
      font-size: 21px;
    }

    &__email-p {
      font-size: 21px;
    }

    &__location-p {
      font-size: 21px;
    }

    &__phone-img {
      max-width: 25px;
    }

    &__email-img {
      max-width: 25px;
    }

    &__location-img {
      max-width: 25px;
    }

    &__tg {
      margin-right: 15px;
    }

    &__tg-im {
      height: 35px;
      width: 35px;
    }

    &__in-im {
      height: 35px;
      width: 35px;
    }

    &__name-f {
      margin-bottom: 10px;
      height: 45px;
      width: 350px;
    }

    &__name-f::placeholder {
      font-size: 20px;
    }

    &__phone-f {
      margin-bottom: 10px;
      height: 45px;
      width: 350px;
    }

    &__phone-f::placeholder {
      font-size: 20px;
    }

    &__email-f {
      margin-bottom: 10px;
      height: 45px;
      width: 350px;
    }

    &__email-f::placeholder {
      font-size: 20px;
    }

    &__message-f {
      margin-bottom: 10px;
      height: 45px;
      width: 350px;
    }

    &__message-f::placeholder {
      font-size: 20px;
    }

    &__send {
      margin-right: 5px;
      width: 150px;
      height: 40px;
    }

    &__send-t {
      font-size: 20px;
    }

    &__policy-a {
      font-size: 12px;
      width: 200px;
    }

    &__right {
      padding-top: 20px;
    }
  }

  .footer {
    padding-bottom: 10px;

    &__text {
      max-width: 480px;
      font-size: 17px;
    }

    &__link {
      font-size: 19px;
    }

    &__ul {
      margin-top: 0;
    }

    &__phone-img {
      margin-right: 10px;
      width: 25px;
      height: 25px;
    }

    &__tg-img {
      margin-right: 10px;
      width: 25px;
      height: 25px;
    }

    &__email-img {
      margin-right: 10px;
      width: 25px;
      height: 25px;
    }

    &__soc-img {
      margin-right: 10px;
      width: 25px;
      height: 25px;
    }

    &__phone-p {
      font-size: 17px;
    }

    &__tg-p {
      font-size: 17px;
    }

    &__email-p {
      font-size: 17px;
    }

    &__tg-im {
      width: 35px;
      height: 35px;
    }

    &__in-im {
      width: 35px;
      height: 35px;
    }
  }
}

@media screen and (max-width: 1040px) {

  .photos__slides {
    display: flex;
    width: 770px;
  }

  .services {
    &__slides {
      width: 695px;
    }

    &__title {
      max-width: 330px;
    }

    &__img {
      max-width: 355px;
      width: 330px;
      height: 201px;
      max-height: 220px;
    }
  }

  .feedback {
    &__slider {
      width: 865px;
    }

    &__p {
      font-size: 18px;
      max-width: 409px;
    }
  }

  .photos__img {
    margin-right: 10px;
    height: 435px;
    max-width: 260px;
    height: 199px !important;
  }
}

@media screen and (max-width:990px) {
  .container {
    width: 870px;
  }

  .header {
    &__link {
      margin-right: 15px;
      font-size: 21px;
    }
  }

  .footer {
    &__text {
      max-width: 390px;
      font-size: 17px;
    }
  }

  .services {
    &__slider {
      width: 777px;
    }
  }
}

@media screen and (max-width: 880px) {
  .container {
    width: 770px;
  }

  .header {
    &__logo-img {
      margin-right: 5px;
      height: 65px;
      width: 65px;
    }

    &__text {
      height: 65px;
    }

    &__line {
      margin-right: 5px;
      height: 40px;
    }

    &__h2 {
      font-size: 22px;
    }

    &__phone-t {
      font-size: 19px;
    }

    &__phone {
      height: 25px;
      margin-right: 5px;
    }

    &__top {
      margin-bottom: 0;
    }

    &__middle {
      margin-bottom: 5px;
    }

    &__link {
      margin-right: 15px;
      font-size: 18px;
    }

    &__middle::after {
      content: "";
      display: block;
      width: 100%;
      height: 0px;
      border: 1px solid #fff;
      background: #fff;
      transform: rotate(180deg);
    }
  }

  .main {
    height: 430px;

    &__h1 {
      font-size: 35px;
      padding-top: 85px;
    }

    &__text {
      font-size: 20px;
      margin-bottom: 60px;
      max-width: 560px;
    }

    &__btn {
      width: 230px;
      height: 60px;
    }

    &__btn-t {
      font-size: 25px;
    }
  }

  .second {
    padding-bottom: 30px;

    &__title {
      margin-bottom: 25px;
      font-size: 30px;
    }

    &__text-t {
      margin-bottom: 20px;
      font-size: 20px;
    }

    &__text-b {
      margin-bottom: 20px;
      font-size: 18px;
    }

    &__promo {
      font-size: 18px;
    }

    &__img {
      max-width: 365px;
    }
  }

  .services {
    &__tit {
      margin-bottom: 0;
      font-size: 30px;
    }

    &__title {
      margin-bottom: 5px;
    }

    &__text {
      font-size: 16px;
    }

    &__slide {
      height: 470px !important;
    }
  }

  .feedback {
    &__p {
      font-size: 18px;
      max-width: 355px;
    }

    &__slide {
      width: 375px;
      height: 320px !important;
    }
  }

  .photos {
    &__btn {
      width: 210px;
      height: 55px;
    }

    &__btn-t {
      font-size: 22px;
    }
  }

  .contact {
    &__p {
      font-size: 18px;
    }

    &__left {
      max-width: 350px;
    }

    &__phone {
      margin-bottom: 10px;
    }

    &__email {
      margin-bottom: 10px;
    }

    &__location {
      margin-bottom: 10px;
    }

    &__phone-p {
      font-size: 18px;
    }

    &__email-p {
      font-size: 18px;
    }

    &__location-p {
      font-size: 18px;
    }
  }

  .footer {
    &__text {
      font-size: 15px;
      max-width: 310px;
    }

    &__link {
      font-size: 17px;
    }

    &__phone {
      margin-right: 20px;
    }

    &__tg {
      margin-right: 20px;
    }

    &__email {
      margin-right: 20px;
    }

    &__phone-p {
      font-size: 15px;
    }

    &__tg-r {
      margin-right: 15px;
    }

    &__tg-p {
      font-size: 15px;
    }

    &__email-p {
      font-size: 15px;
    }

    &__top {
      margin-bottom: 20px;
    }

    &__text {
      margin-bottom: 20px;
    }

    &__img {
      width: 65px;
      height: 65px;
    }

    &__line {
      height: 30px;
    }

    &__h2 {
      max-width: 130px;
      font-size: 19px;
    }
  }

  @media screen and (max-width: 850px) {
    .photos {
      &__slides {
        width: 680px;
      }

      &__img {
        margin-right: 10px;
        height: 435px;
        max-width: 224px;
        height: 202px !important;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .container {
    width: 690px;
  }

  .header {
    &__link {
      margin-right: 12px;
      font-size: 16px;
    }
  }

  .services {
    &__slides {
      width: 605px;
    }

    &__img {
      max-width: 288px;
      width: 288px;
      height: 182px;
      max-height: 220px;
    }

    &__slide {
      max-width: 288px;
    }

    &__slider {
      width: 687px;
    }

    &__text {
      font-size: 15px;
      max-width: 270px;
    }

    &__title {
      font-size: 19px;
    }
  }

  .feedback {
    &__slide {
      width: 334px;
      height: 320px !important;
    }

    &__p {
      font-size: 17px;
      max-width: 320px;
    }
  }

  .photos {
    &__slides {
      width: 599px;
    }

    &__img {
      margin-right: 10px;
      height: 435px;
      max-width: 189px;
      height: 188px !important;
    }

    &__btn {
      width: 190px;
      height: 50px;
    }

    &__btn-t {
      font-size: 20px;
    }
  }

  .contact {
    &__email-p {
      font-size: 16px;
    }

    &__phone-p {
      font-size: 16px;
    }

    &__location-p {
      font-size: 16px;
    }

    &__name-f {
      margin-bottom: 10px;
      height: 35px;
      width: 300px;
      font-size: 18px;
    }

    &__phone-f {
      margin-bottom: 10px;
      height: 35px;
      width: 300px;
      font-size: 18px;
    }

    &__email-f {
      margin-bottom: 10px;
      height: 35px;
      width: 300px;
      font-size: 18px;
    }

    &__message-f {
      margin-bottom: 10px;
      height: 35px;
      width: 300px;
      font-size: 18px;
    }

    &__name-f::placeholder {
      font-size: 18px;
    }

    &__phone-f::placeholder {
      font-size: 18px;
    }

    &__email-f::placeholder {
      font-size: 18px;
    }

    &__message-f::placeholder {
      font-size: 18px;
    }

    &__send {
      width: 130px;
      height: 35px;
    }
  }

  .footer {
    &__phone {
      align-items: center;
      margin-right: 10px;
    }

    &__tg {
      align-items: center;
      margin-right: 10px;
    }

    &__emai {
      align-items: center;
      margin-right: 10px;
    }

    &__text {
      font-size: 13px;
      max-width: 261px;
    }

    &__li {
      margin-right: 15px;
    }

    &__phone-img {
      margin-right: 5px;
      width: 20px;
      height: 20px;
    }

    &__tg-img {
      margin-right: 5px;
      width: 20px;
      height: 20px;
    }

    &__email-img {
      margin-right: 5px;
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 705px) {
  .container {
    width: 630px;
  }

  .main {
    &__btn {
      width: 180px;
      height: 50px;
    }

    &__btn-t {
      font-size: 20px;
    }
  }

  .second {
    &__img {
      max-width: 280px;
    }

    &__title {
      margin-bottom: 15px;
      font-size: 25px;
    }

    &__text-t {
      margin-bottom: 10px;
      font-size: 18px;
    }

    &__text-b {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  .services {
    &__tit {
      font-size: 25px;
    }

    &__slides {
      width: 530px;
    }

    &__slider {
      margin-bottom: 20px;
      width: 530px;
    }

    &__img {
      max-width: 288px;
      width: 250px;
      height: 170px;
      max-height: 220px;
    }

    &__slide {
      max-width: 251px;
    }

    &__title {
      font-size: 17px;
    }

    &__text {
      font-size: 14px;
      max-width: 244px;
    }

    &__slide {
      height: 410px !important;
    }
  }

  .feedback {
    padding-bottom: 0;

    &__title {
      font-size: 25px;
    }

    &__slide-t {
      font-size: 18px;
    }

    &__p {
      font-size: 16px;
      max-width: 295px;
    }

    &__slide {
      width: 305px;
      height: 295px !important;
    }
  }

  .photos {
    padding-top: 0px;
    padding-bottom: 10px;

    &__title {
      margin-bottom: 15px;
      font-size: 25px;
    }

    &__slides {
      width: 550px;
    }

    &__img {
      margin-right: 10px;
      height: 435px;
      max-width: 170px;
      height: 169px !important;
    }

    &__btn {
      width: 170px;
      height: 40px;
    }

    &__btn-t {
      font-size: 18px;
    }
  }

  .contact {
    &__left {
      max-width: 305px;
    }

    &__p {
      font-size: 16px;
    }

    &__email-img {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }

    &__phone-img {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }

    &__location-img {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }

    &__email-p {
      font-size: 15px;
    }

    &__phone-p {
      font-size: 15px;
    }

    &__location-p {
      font-size: 15px;
    }

    &__name-f {
      width: 270px;
    }

    &__phone-f {
      width: 270px;
    }

    &__email-f {
      width: 270px;
    }

    &__message-f {
      width: 270px;
    }

    &__send {
      width: 100px;
      height: 30px;
    }

    &__send-t {
      font-size: 16px;
    }

    &__policy-a {
      font-size: 10px;
      width: 165px;
    }

    &__right {
      max-width: 300px;
    }
  }

  .footer {
    &__ul {
      padding-left: 10px;
    }

    &__li {
      margin-right: 10px;
    }

    &__link {
      font-size: 18px;
      letter-spacing: -1px;
    }

    &__phone-p {
      letter-spacing: -1px;
    }

    &__tg-p {
      letter-spacing: -1px;
    }

    &__email-p {
      letter-spacing: -1px;
    }
  }
}

@media screen and (max-width: 640px) {
  .container {
    width: 570px;
  }

  .header {
    &__logo-img {
      margin-right: 5px;
      height: 55px;
      width: 55px;
    }

    &__line {
      height: 30px;
    }

    &__h2 {
      font-size: 18px;
    }

    &__text {
      height: 55px;
    }

    &__phone {
      height: 20px;
    }

    &__phone-t {
      font-size: 16px;
    }

    &__tg {
      height: 18px;
    }

    &__em {
      height: 18px;
    }

    &__link {
      font-size: 17px;
      letter-spacing: -1px;
    }
  }

  .main {
    height: 375px;

    &__text {
      margin-bottom: 30px;
      font-size: 20px;
      max-width: 450px;
    }
  }

  .second {
    &__text-t {
      font-size: 16px;
    }

    &__text-b {
      font-size: 16px;
    }

    &__promo {
      font-size: 16px;
    }
  }

  .services {
    &__text-b {
      font-size: 16px;
    }

    &__left {
      margin-right: 10px;
      height: 35px;
    }

    &__right {
      margin-left: 10px;
      height: 35px;
    }

    &__slide {
      margin-left: 5px;
      margin-right: 5px;
      max-width: 255px;
    }

    &__img {
      max-width: 288px;
      width: 255px;
      height: 173px;
      max-height: 220px;
    }
  }

  .feedback {
    &__slide {
      width: 274px;
      height: 305px !important;
    }

    &__p {
      font-size: 15px;
      max-width: 257px;
    }
  }

  .photos {
    &__btn {
      margin-bottom: 10px;
    }

    &__slides {
      width: 490px;
    }

    &__left {
      margin-right: 10px;
      height: 35px;
    }

    &-right {
      margin-left: 10px;
      height: 35px;
    }

    &__img {
      margin-right: 10px;
      max-width: 155px;
      height: 146px !important;
    }
  }

  .contact {
    &__name-f {
      width: 230px;
    }

    &__phone-f {
      width: 230px;
    }

    &__email-f {
      width: 230px;
    }

    &__message-f {
      width: 230px;
    }

    &__bottom {
      display: flex;
      align-items: flex-start;
      flex-direction: column-reverse;
    }

    &__policy {
      margin-bottom: 10px;
    }

    &__policy-a {
      font-size: 11px;
      width: 230px;
    }
  }

  .footer {
    &__link {
      font-size: 16px;
    }

    &__middle {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    &__text {
      font-size: 15px;
      max-width: 100%;
    }

    &__ul {
      padding-left: 0;
    }

    &__li {
      margin-right: 20px;
    }

    &__link {
      font-size: 18px;
    }

    &__bottom {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }

    &__phone-p {
      font-size: 18px;
    }

    &__tg-p {
      font-size: 18px;
    }

    &__email-p {
      font-size: 18px;
    }

    &__phone {
      margin-bottom: 10px;
    }

    &__tg {
      margin-bottom: 10px;
    }

    &__email {
      margin-bottom: 10px;
    }

    &__phone-img {
      width: 25px;
      height: 25px;
    }

    &__tg-img {
      width: 25px;
      height: 25px;
    }

    &__email-img {
      width: 25px;
      height: 25px;
    }

    &__tg-im {
      width: 40px;
      height: 40px;
    }

    &__in-im {
      width: 40px;
      height: 40px;
    }
  }
}

@media screen and (max-width: 590px) {
  .container {
    width: 540px;
  }

  .header {
    &__link {
      font-size: 15px;
      letter-spacing: -1px;
    }
  }

  .second {
    .container {
      justify-content: space-between;
      flex-direction: column
    }

    &__right {
      display: flex;
      justify-content: center;
    }

    &__left {
      margin-bottom: 15px;
    }
  }

  .services {
    &__slider {
      width: 570px;
    }

    &__slides {
      width: 470px;
    }

    &__slide {
      max-width: 230px;
    }

    &__img {
      max-width: 288px;
      width: 230px;
      height: 160px;
      max-height: 220px;
    }

    &__title {
      font-size: 15px;
    }
  }

  .feedback {
    padding-bottom: 5px;

    &__slide {
      margin-left: 5px;
      margin-right: 5px;
    }

    &__slide {
      width: 265px;
      height: 322px !important;
    }
  }

  .photos {
    padding-bottom: 5;

    &__slides {
      width: 470px;
    }

    &__img {
      margin-right: 10px;
      max-width: 229px;
      height: 200px !important;
    }
  }
}

@media screen and (max-width: 540px) {
  .container {
    width: 490px;
  }

  .header {
    &__link {
      font-size: 14px;
      letter-spacing: -1px;
    }
  }

  .main {
    height: 310px;

    &__h1 {
      font-size: 30px;
      padding-top: 80px;
    }

    &__text {
      margin-bottom: 30px;
      font-size: 18px;
      max-width: 404px;
    }
  }

  .services {
    &__slides {
      width: 420px;
    }

    &__slide {
      max-width: 205px;
    }

    &__img {
      max-width: 288px;
      width: 205px;
      height: 150px;
      max-height: 220px;
    }

    &__text {
      max-width: 198px;
    }

    &__slide {
      height: 420px !important;
    }

    &__slider {
      width: 480px;
    }
  }

  .feedback {
    padding-bottom: 5px;

    &__slide {
      width: 240px;
      height: 345px !important;
    }

    &__p {
      font-size: 15px;
      max-width: 218px;
    }
  }

  .photos {
    padding-top: 10px;

    &__slides {
      width: 425px;
    }
  }

  .contact {
    flex-direction: column;

    &__left {
      max-width: 100%;
    }

    &__p {
      max-width: 100%;
      width: 100%;
    }

    &__name-f {
      width: 350px;
    }

    &__phone-f {
      width: 350px;
    }

    &__email-f {
      width: 350px;
    }

    &__message-f {
      width: 350px;
    }

    &__form {
      align-items: center;
    }

    &__bottom {
      align-items: center;
      width: 100%;
      max-width: 100%;
    }

    &__policy {
      width: 350px;
      max-width: 100%;
    }

    &__policy-a {
      font-size: 13px;
      width: 100%;
      max-width: 100%;
    }

    &__send {
      width: 150px;
      height: 45px;
    }

    &__send-t {
      font-size: 19px;
    }

    &__right {
      width: 100%;
      max-width: 100%;
      align-items: center;
    }
  }
}



@media screen and (max-width: 490px) {

  .container {
    width: 430px;
  }

  .header {
    padding-top: 5px;

    &__closse {
      display: block;
    }

    &__burger {
      z-index: 5;
      display: none;
      position: absolute;
      top: 10px;
      right: 1px;
      background-color: #fff;
      padding-left: 10px;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 10px;
    }

    &__b-links {
      padding-left: 0;
    }

    &__b-link {
      text-decoration: none;
      list-style-type: none;
      margin-bottom: 15px;
    }

    &__b-link:last-child {
      margin-bottom: 0;
    }

    &__b-soc {
      display: flex;
      justify-content: start;
      margin-bottom: 10px;
    }

    &__b-cos {
      height: 30px;
      margin-right: 10px;
    }

    &__b-cos:last-child {
      margin-right: 0;
    }

    &__b-phone {
      display: flex;
      margin-bottom: 20px;
    }

    &__b-ph {
      margin-right: 5px;
    }

    &__b-tel {
      color: rgb(0, 0, 0);
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 500;
      line-height: 96.05%;
      letter-spacing: 0%;
      text-align: left;
    }

    &__b-a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-family: Montserrat;
      font-size: 25px;
      font-weight: 500;
      line-height: 96.05%;
      letter-spacing: 0%;
      text-align: left;
    }

    &__close {
      display: flex;
      justify-content: flex-end;
    }

    &__logo {
      width: 35px;
      height: 35px;
    }

    &__logo-img {
      width: 35px;
      height: 35px;
      margin-right: 10px;
    }

    &__line {
      height: 24px;
    }

    &__text {
      height: 35px;
    }

    &__h2 {
      color: rgb(255, 255, 255);
      font-family: Montserrat;
      font-size: 13px;
      font-weight: 700;
      line-height: 96.05%;
      letter-spacing: 0%;
      text-align: left;
    }

    &__right {
      display: none;
    }

    &__closse {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 25px;
    }
  }

  .main {
    height: 240px;
    padding-top: 20px;

    &__h1 {
      padding-top: 30px;
      margin-bottom: 10px;
      color: rgb(255, 255, 255);
      font-family: Montserrat;
      font-size: 27px;
      font-weight: 700;
      line-height: 96.05%;
      letter-spacing: 0%;
      text-align: left;
    }

    &__text {
      margin-bottom: 30px;
      color: rgb(255, 255, 255);
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
      line-height: 96.05%;
      letter-spacing: 0%;
      text-align: left;
    }

    .main__btn {
      border-radius: 5px;
      background: #25424c;
      width: 150px;
      height: 40px;
    }

    &__btn-t {
      color: rgb(255, 255, 255);
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 500;
      line-height: 96.05%;
      letter-spacing: 0%;
      text-align: left;
    }
  }

  .second {
    padding-top: 15px;

    &__right {
      display: flex;
      justify-content: center;
    }

    &__title {
      margin-bottom: 10px;
      color: rgb(0, 0, 0);
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 700;
      line-height: 96.05%;
      letter-spacing: 0%;
      text-align: left;
    }

    &__text-t {
      margin-bottom: 5px;
      max-width: 400px;
      color: rgb(0, 0, 0);
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: left;
    }

    &__text-b {
      margin-bottom: 10px;
      color: rgb(0, 0, 0);
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: left;
    }

    &__promo {
      margin-bottom: 10px;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: left;
    }

    .service {
      &__img {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
      }

      &__title {
        margin-bottom: 15px;
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 23px;
        font-weight: 700;
        line-height: 96.05%;
        letter-spacing: 0%;
        text-align: left;
      }

      &__text {
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
    }

    &__img {
      max-width: 300px;
    }
  }

  .feedback {
    &__title {
      margin-bottom: 20px;
      color: rgb(0, 0, 0);
      font-family: Montserrat;
      font-size: 35px;
      font-weight: 700;
      line-height: 96.05%;
      letter-spacing: 0%;
      text-align: left;
    }

    &__slide-t {
      margin-bottom: 10px;
      max-width: 400px;
      font-size: 20px;
    }

    &__p {
      width: 400px;
      font-size: 18px;
      max-width: 400px;
    }

    &__slide {
      width: 420px;
      height: 290px !important;
    }

    &__title {
      font-size: 25px;
    }
  }

  .services {
    &__slider {
      width: 350px;
    }

    &__tit {
      font-size: 25px;
    }

    &__slide {
      max-width: 400px;
      width: 400px;
    }

    &__img {
      margin-bottom: 5px;
      max-width: 400px;
      width: 400px;
      height: 245px;
      max-height: 245px;
    }

    &__title {
      font-size: 20px;
      width: 320px;
      max-width: 370px;
    }

    &__text {
      max-width: 370px;
      font-size: 15px;
    }
  }

  .photos {
    &__img {
      margin-right: 5px;
      margin-left: 5px;
      max-width: 376px;
      height: 279px !important;
    }

    &__title {
      font-size: 25px;
    }

    &__slides {
      width: 370px;
    }
  }

  .contact {
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
    flex-direction: column;

    &__right {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
    }
  }

  .contact {
    &__email-p {
      font-size: 20px;
    }

    &__phone-p {
      font-size: 20px;
    }

    &__location-p {
      font-size: 20px;
    }

    &__policy-a {
      font-size: 13px;
    }

    &__right {
      align-items: center;
    }

    &__policy-a {
      font-size: 11px;
    }
  }


  .footer {
    &__middle {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    &__ul {
      display: flex;
      flex-direction: column;
      padding-left: 0;
    }

    &__bottom {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }

    &__li {
      margin-left: 15px;
      margin-right: 0;
      margin-left: 0;
    }

    &__li:last-child {
      margin-bottom: 0;
    }

    &__top {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    &__text {
      margin-bottom: 10px;
    }

    &__phone {
      margin-bottom: 10px;
    }

    &__tg {
      margin-bottom: 10px;
    }

    &__email {
      margin-bottom: 10px;
    }

    &__li {
      margin-bottom: 5px;
    }
  }
}

@media screen and (max-width:460px) {
  .services {
    &__slides {
      width: 350px;
    }

    &__img {
      margin-bottom: 5px;
      max-width: 350px;
      width: 350px;
      height: 215px;
      max-height: 245px;
    }

    &__slide {
      max-width: 350px;
      width: 350px;
    }

    &__text {
      max-width: 330px;
      font-size: 15px;
    }
  }

}

@media screen and (max-width: 440px) {
  .photos__slides {
    width: 350px;
  }
}

@media screen and (max-width: 430px) {
  .container {
    width: 400px;
  }

  .services {
    &__slides {
      width: 320px;
    }

    &__slide {
      width: 310px;
      height: 505px !important;
    }

    &__img {
      width: 310px;
      height: 200px;
    }
  }

  .photos {
    &__slides {
      width: 320px;
    }

    &__img {
      margin-right: 5px;
      margin-left: 5px;
      max-width: 319px;
      height: 251px !important;
    }
  }

  .contact {
    &__email-p {
      font-size: 19px;
    }

    &__phone-p {
      font-size: 19px;
    }

    &__location-p {
      font-size: 19px;
    }
  }
}

@media screen and (max-width: 410px) {
  .container {
    width: 370px;
  }

  .feedback {
    &__slide-t {
      font-size: 23px;
      max-width: 200px;
    }

    &__p {
      width: 340px;
      font-size: 16px;
    }

    &__slide {
      height: 270px !important;
    }
  }

  .services {
    &__slides {
      width: 300px;
    }

    &__img {
      width: 300px;
      height: 190px;
    }
  }

  .photos {
    &__slides {
      width: 300px;
    }

    &__img {
      margin-right: 5px;
      margin-left: 5px;
      max-width: 298px;
      height: 232px !important;
    }

    &__btn {
      width: 200px;
      height: 50px;
    }

    &__btn-t {
      font-size: 21px;
    }
  }

  .contact {
    &__email-p {
      font-size: 17px;
    }

    &__phone-p {
      font-size: 17px;
    }

    &__location-p {
      font-size: 17px;
    }
  }
}